/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "materialize.min.css"
@import "animate.min.css"
@import "responsive.css"

$red = #ff3333
$base1 = #333333


.icon-block
    padding 0 15px
.icon-block
    .material-icons
        font-size inherit
    

        
